.headerStyle{
  text-align: center;
  color: #eee;
  padding-inline: 50px;
  line-height: 64px;
  background-color: #ffffff;
  padding-top: 20px;
}
.contentStyle{
  text-align: center;
  color: #eee;
  padding-inline: 50px;
  min-height: 120px;
  line-height: 120px;
  background-color: #ffffff;
  margin-top: 5px;
}
.footerStyle{
  text-align: center;
  color: #ffffff;
  background-color: #ffffff;
}

