$width:300px;
$margin:20px;

// 开启flex布局
.login{
display: flex;
flex-direction: row;
justify-content:center;
align-items: center;
}

.login_left{
    
    // background: url(/src/assets/login.png) no-repeat  ;
    background-color: aqua;
    
}
.login_img{
   
}

.loigin_right{
 
    background-color: aqua;
}

.login_form{
    margin:40px;
    border: 1px solid blue;
    border-radius:5px ;
    
}
