$width:300px;
$margin:20px;

// 开启flex布局
.login{
height: 100vh;
width: 100%;
display: flex;
justify-content: center;
align-items: center;

}

.login_left{
    
    // background: url(/src/assets/login.png) no-repeat  ;
   
  
}
.login_img{
   height: 100%;
   width: 100%;
   flex:1 1 200px ;  
}


.login_form{
    margin-top:140px;
    
    
    border-radius:5px ;
    flex: 1 1 120px;
}
