//侧边栏样式
.header{
  background-color: #fff;
  text-align: left;
  color: black;
  padding-left: 20px;
  line-height: 40px;
  display: flex;
  justify-content: space-between;
}
.icon{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
}
//内容样式
.rowStyle{
  margin-left: 70px;
  margin-top: 70px;
}
