
.divStyle{
    width: 20%;
    height: 160px;
    margin: 40px 2.5%;
    background: #fff;
    float: left;
    border-radius: 5px;
    padding: 16px;
    box-sizing: border-box;
    .title{
        font-size: 12px;
        color: #999;
        flex-direction: row;
        height: 12px;
        justify-content: space-between;
        display: flex;
    }
    .houreBox{
        padding:10px 0 15px;
        color: #333;
        .number{
            font-size: 32px;
        }
        .tips{
            padding: 0 0 0 5px;
            font-size: 14px;
            color: #686565;
        }
    }
    .topdivStyle{
        display: flex;
        flex-direction: row;
        padding: 0 0 10px;
        border-bottom: 1px solid #efefef;
        font-size: 12px;
        color: #999;
        height: 40px;
        justify-content:space-between;
        .contentleft{
            display: flex;
            height: 20px;
            line-height: 20px;
            align-items: center;
        }
        .contentright{
            display: flex;
            height: 20px;
            line-height: 24px;
            align-items: center;
        }
        .green,.red{
            padding: 0 6px;
            color: rgb(3, 246, 76);
        }
        .red{
            color: #f00
        }
    }
    .areachart{
        border-bottom: 1px solid #efefef;
        height: 40px;
        width: 220px;

    }
    .bottombox{
        display: flex;
        flex-direction: row;
        padding: 10px 0 10px 0;
        font-size: 12px;
        color: #686565;
    }
    .reportStyle{
        padding: 10px;
        font-size: 100px;
        
    }
};
.divStyle:hover{
    box-shadow: 0 16px 32px 0 rgba(48, 55, 66, 0.15);
    transform: translate(0,-5px);
    transition-delay: 0s !important;
}
.chartStyle{
    background-color: white;
    height: 330px;
    margin: 20px 10%;
    float: left;
    box-sizing: border-box;
    .titleStyle{
        border-bottom: 1px solid #efefef;
        display: flex;
        flex-direction: row;
        padding: 20px  20px;
        color: #999;
        font-size: 12px;
        .week{
            display: flex;
            justify-content: space-between;
            
        }
        .select{
            color: #999;
            margin-left: 20px;
        }
        .select:hover{
            color: #00a1d6;
        }
        .select:active{
            color: #00a1d6;
        }
        .selectafter{
            color: #00a1d6;
            margin-left: 20px;
        }
        
    }
    .barchartStyle{
        width: 650px;
        height: 300px;
        float: left;
        display: flex;
        padding: 20px ;
        margin-right: 80px;    
    }
    
}
.showStyle{
    width: 250px;
    height: 300px;
    padding: 16px;
    float: left;
    .listbox{
        
        .liststyle {
            height: 32px;
            font-size: 12px;
            color: #929292;
            border-color: rgb(255, 255, 255);
            align-items: center;
            .listnumber{
                height: 16px;
                width: 16px;
                padding:0px 0px 1px 5px;
                margin-right: 20px;
                border-radius: 50%;
                color: #373737;
                display: flex;
                background-color: #eeeaea;
            }
        
          }
    }
    .listtitle{
        font-size: medium;
        font-weight: bolder;
        margin-bottom: 16px;
    }
}
.contentStyle {
    margin: 0;
    color: #fff;
    text-Align:center;
    background-color: '#364d79';
  };


