.contentStyle{
  text-align: center;
  min-height:120px;
  line-height: 120px;
  color: #fff;
  background-color: #108ee9;
};
.siderStyle{
  text-align: center;
  line-height: 120px;
  color: #fff;
  background-color: #3ba0e9;
};
