.contentStyle{
    text-align: center;
    min-height:120px;
    line-height: 120px;
    color: black;
    background-color: #ffffff;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(205, 204, 204);
    box-shadow: 2px 2px 5px rgba(65, 63, 63, 0.3);
  };
  .siderStyle{
    text-align: center;
    line-height: 120px;
    color: #fff;
    background-color: #ffffff !important;
    margin-right: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(205, 204, 204);
    box-shadow: 2px 2px 5px rgba(65, 63, 63, 0.3);
    min-height: 93vh;
  };
