.headerStyle{
  text-align: center;
  height: 64px;
  padding-inline: 50px;
  margin-bottom: 5px;
  line-height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(205, 204, 204);
  box-shadow: 2px 2px 5px rgba(65, 63, 63, 0.3);
  background-color:#fff;
  
}
.leftStyle {
  padding-left: 10px;
  text-align: center;
  color: black;
  height: 64px;
  padding-inline: 50px;
  padding: 0;
  line-height: 64px;
  order:1;
}
.middleStyle {
  text-align: center;
  color: black;
  height: 64px;
  padding-inline: 50px;
  padding: 0;
  line-height: 64px;
  order: 2;
}
.lastStyle {
  position: relative;
  order:3;
  padding-right: 20px;
  text-align: center;
  color: black;
  height: 64px;
  padding-inline: 50px;
  padding: 0;
  line-height: 64px;
  order: 2;

}
.lastStyle {
  order:3;
  padding-right: 20px;
  text-align: center;
  color: black;
  height: 64px;
  padding-inline: 50px;
  line-height: 64px;
  display: flex;
  &:hover{
    .select{
      
      display: block;
    }
   
  }
}
.contentStyle{
  height: calc(100vh);
  
  min-height: 93vh;
}

.select{
  position: absolute;
  top: 50px;
  width: 100px;
  height: 100px; 
  border: 1px solid gainsboro;
  display: none;
  background-color: #fff;
  padding: 0px;
 
}
a{
  color: black;
  text-align: center;
}
.userInformation{
  width: 100px;
  height: 50px;
}
.loginOut{
  width: 100px;
  height: 50px;
}



